
  .container {
    margin: 10px;
    border-radius: 10px;
    background-color:rgba(0, 0, 0, 0.65);
    color:white;
    padding: 10px;   
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 16px;
  }
  .container h2{
    font-family: 'Archivo Narrow', sans-serif;
  }
 
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  button[type=submit] {
    background-color: rgb(125,166,136);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  button[type=submit]:hover {
    background-color: #45a049;
    color: rgb(125,166,136);
    background: white;
    transition: .5s;
    border-radius: 7px;
  }
  
  /* Style the container/contact section */
  
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }
  
  .status{
    margin-top: -20px;
    color: red;
  }
.footer{
  position: fixed;
}
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 768px) {
    .column, button[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }